.h1-p-cta {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5em 3em;
}

.h1-p-flex {
  display: flex;
  flex-direction: column;
  gap: 1.3em;

  h1 {
    font-weight: 500;
  }
}
.edu-cards {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em 0;
  align-items: center;
}
.cardbox {
  text-align: center;
  background-color: var(--color-bg-secondary);
  width: 18em;
  height: 22em;
  padding: 3em;
  gap: 2em;
}

.lightbulb {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1.5em;
  svg {
    max-height: 4em;
  }
}

.parentes {
  font-size: 0.8em;
}
