.mywork-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mywork-illustration {
  width: 100px;
  margin-top: 2em;
}

.tema-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 2em;
}

.overskrift-p {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
}

.flex-text-cta3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0;
}

.section-nysgerrig {
  padding: 2em;
}

.nobutton {
  appearance: none;
  border: none;
  cursor: pointer;
}
