.mywork-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  h1 {
    font-weight: 500;
  }
}

.mywork-illustration {
  width: 100px;
  margin-top: 2em;
}

.tema-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.portfolio-cards {
  padding: 2em;
}

.overskrift-p {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5em;
}

.flex-text-cta3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0;
}

.section-nysgerrig {
  padding: 2em;
}

.nysgerrig {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nobutton {
  appearance: none;
  border: none;
  cursor: pointer;
}

.beskrivelse {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & p {
    font-size: 1em;
  }
}
